* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

main {
  position: relative;
}

#grid li {
  position: absolute;
  display: block;
  list-style: none;
  width: 16px;
  height: 16px;
}

#grid .tile-0 {
  background: black;
}

#grid .tile-1 {
  background: url(tiles.png) -32px -80px;
}

.entity {
  position: absolute;
  background: green;
}
